config:
  read_interval: 0.02
sources:
  - name: audio
    type: audio
    properties:
      - name: rms
        processors:
          - smooth:
              smoothing: 0.9
          - normalise:
              type: linear
      - name: spectral-flatness
        processors:
          - smooth:
              smoothing: 0.9
          - normalise:
              type: linear
      - name: spectral-centroid
    # properties:
    #   - feature: rms
    #     name: rms
      # - feature: vamp:pyin:yin:f0
      #   name: f0
      # - feature: vamp:bbc-vamp-plugins:bbc-spectral-flux:spectral-flux
      #   name: flux
      # - feature: vamp:vamp-libxtract:flatness:flatness
      #   name: flatness
# - name: position
#   type: jdp
#   port: 48000
#   properties:
#     - x
#     - y
#     - z
destinations:
  - type: csv
    path: logs/data.%Y%m%d.%H%M%S.csv
  - type: scope